<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/master}"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sabor Gourmet</title>
  </head>
  <body>
    <div class="row" layout:fragment="page-content">
      <div>
        <img class="responsive-img" src="imgs\louis-hansel-rheOvfxOlOA-unsplash.jpg" id="bannerGourmet" alt="" />
        <small>Photo by <a href="https://unsplash.com/@louishansel?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Louis Hansel</a> on <a href="https://unsplash.com/photos/person-eating-food-rheOvfxOlOA?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
        </small>
      </div>
      <div class="col s6">
        <div class="col s12 m6 push-m6">
          <div class="card red darken-4 z-depth-3">
            <div class="card-image">
              <img src="imgs\reservation-5421878_1280.jpg/">
              <small>Image by <a href="https://pixabay.com/users/valentin_b90-17099702/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=5421878">Valentin Baciu</a> from <a href="https://pixabay.com//?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=5421878">Pixabay</a></small>
            </div>
            <div class="card-content white-text center-align">
              <span class="card-title">Reservas</span>
              <p></p>
            </div>
            <div class="card-action center-align">
              <a th:href="@{/reservas}">Listar</a>
              <a th:href="@{/reservas/nuevo}">Agregar</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col s6">
        <div class="col s12 m6">
          <div class="card red darken-4 z-depth-3">
            <div class="card-image">
              <img src="imgs\table-5696243_1280.jpg">
              <small>Image by <a href="https://pixabay.com/users/dorigo-196290/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=5696243">Dorigo</a> from <a href="https://pixabay.com//?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=5696243">Pixabay</a></small>
            </div>
            <div class="card-content white-text center-align">
              <span class="card-title">Mesas</span>
              <p></p>
            </div>
            <div class="card-action center-align">
              <a th:href="@{/mesas}">Listar</a>
              <a th:href="@{/mesas/nuevo}">Agregar</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
